* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(ellipse at left, #000, rgb(139, 22, 22));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Cabeçalho */

.header {
  display: flex;
  justify-content: space-between;
  background: radial-gradient(ellipse at central, #000, rgb(139, 22, 22));
}

.header-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

.header-buttons li {
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 5px 10px;
  background-color: #fff;
  color: rgb(139, 22, 22);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.header-buttons li:hover {
  color: rgb(139, 22, 22);
  background-color: white;
  border: 1px solid white;
}

.header-buttons a:visited {
  text-decoration: none;
  color: #fff;
}

#icon {
  width: 8rem;
  height: 6rem;
}

/* Slide das principais chamadas na tela */

.slider {
  margin: 50 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img {
  width: 100%;
  height: 500px;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.nav-manual .manual-btn,
.nav-auto div {
  border: 1px solid #ff0054;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 100;
  z-index: 1;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
  background-color: #ff0054;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}

@media screen and (max-width: 900px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .nav-auto,
  .nav-manual {
    margin-top: 60%;
  }
}

.main {
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-content: center;
  height: auto;
}

/* Pesquisar */

.container-search {
  margin-top: 6rem;
}

#input-search {
  padding: 1rem;
  width: 80%;
  background-color: transparent;
  color: #fff;
  border-bottom: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
}

#button {
  margin-top: 2rem;
  margin-left: 7rem;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: wait;
  transition: 0.5s;
  font-weight: bold;
}

#button:hover {
  color: rgb(139, 22, 22);
  background-color: white;
  border: 1px solid white;
}

/* destaques */

.emphasis-books {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.title-session,
.emphasis-books h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
  color: #fff;
}

.emphasis-boxs {
  width: 95%;
  height: 585px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  overflow-x: scroll;
}

.emphasis-card {
  width: 265px;
  height: 530px;
  text-align: center;
  padding: 5px;
  border: 1px solid #fff;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.emphasis-card:hover {
  box-shadow: 0 0 10px rgb(139, 22, 22);
}

.emphasis-img img {
  align-content: center;
  width: 250px;
  height: 365px;
}

.emphasis-tag h3 {
  margin: 2px;
  color: #fff;
}

.emphasis-tag h2 {
  margin: 2px;
  color: #fff;
}

.emphasis-tag .writher {
  color: #ccc;
}

.emphasis-tag .categorys {
  color: rgb(139, 22, 22);
}

.emphasis-tag .destaque_preco {
  color: #fff;
  font-weight: bold;
  padding-bottom: 29px;
}

.btn-know-more,
.btn-read-now {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
}

.btn-know-more:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.btn-read-now:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(139, 22, 22);
  font-weight: bold;
}

.emphasis-boxs::-webkit-scrollbar {
  height: 8px;
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #d62929;
}

/* Novidades */

.emphasis-books1 {
  flex: 2;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.emphasis-books1 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
  color: #fff;
}

.emphasis-boxs1 {
  width: 95%;
  height: 580px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px 0;
}

.emphasis-card1 {
  width: 265px;
  height: 470px;
  text-align: center;
  padding: 5px;
  border: 1px solid #fff;
  margin: 20px;
}

.emphasis-card1:hover {
  box-shadow: 0 0 10px rgb(139, 22, 22);
}

.emphasis-img1 img {
  align-content: center;
  width: 250px;
  height: 365px;
}

.emphasis-tag1 h2 {
  margin: 2px;
  color: #fff;
}

.emphasis-tag1 .writher {
  color: gray;
}

.emphasis-tag1 .categorys {
  color: rgb(139, 22, 22);
  padding-bottom: 60px;
}

.emphasis-tag1 .destaque_preco {
  color: #fff;
  font-weight: bold;
  padding-bottom: 29px;
}

.btn-know-more {
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
}

.btn-know-more:hover {
  padding: 8px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(139, 22, 22);
  font-weight: bold;
}

.btn-read-now {
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
}

.btn-read-now:hover {
  padding: 8px 20px;
  border: 2px solid rgb(139, 22, 22);
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(139, 22, 22);
  font-weight: bold;
}

.emphasis-boxs::-webkit-scrollbar {
  height: 8px;
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #d62929;
}

/* autores */

.autors {
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.autors h1 {
  justify-content: space-evenly;
  margin-bottom: 30px;
  font-size: 35px;
  color: #fff;
}

.autors_box {
  width: 100%;
  height: 450px;
  margin: 300 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 60px 0;
  overflow: hidden;
  overflow-x: scroll;
}

.autors_card {
  text-align: center;
  padding: 5px;
  border: 1px #fff;
  margin: 20px;
  border-radius: 100%;
}

.autors_img img {
  align-content: center;
  width: 300px;
  height: 300px;
  border: 1px solid red;
  border-radius: 50%;
}

.autors_img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.emphasis-tag1 h2 {
  margin: 2px;
  color: #fff;
}

.autors .writher {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.autors_box::-webkit-scrollbar {
  height: 8px;
  width: 12px;
  background-color: #f5f5f5;
}

.autors_box::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #cccccc;
}

.autors_box::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #d62929;
}

@media (max-width: 769px) {
  .header {
    max-width: 660px;
  }

  .slider {
    display: none;
  }

  .container-search {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .title-session {
    text-align: center;
    font-size: 20px;
    margin-left: -2rem;
  }

  #button {
    text-align: start;
    margin: 0 0 0 2rem;
  }

  #input-search {
    width: 80%;
    margin-left: 2rem;
    max-width: 660px;
  }

  .emphasis-boxs {
    height: 405px;
    width: 660px;
    margin-left: -2.5rem;
  }

  .emphasis-card {
    border: none;
    margin-left: -2rem;
  }

  .emphasis-books h1 {
    font-size: 35px;
    text-align: start !important;
  }

  .emphasis-tag {
    display: none;
  }

  .autors {
    height: 405px;
    width: 760px;
    margin-left: -2.5rem;
  }

  .autors_img img {
    height: 200px;
    width: auto;
  }
}

@media (max-width: 729px) {
  .header {
    max-width: 700px;
  }

  .slider {
    display: none;
  }

  .container-search {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .title-session {
    text-align: center;
    font-size: 20px;
    margin-left: -2rem;
  }

  #button {
    text-align: start;
    margin: 0 0 0 2rem;
  }

  #input-search {
    width: 80%;
    margin-left: 2rem;
    max-width: 740px;
  }

  .emphasis-boxs {
    height: 405px;
    width: 710px;
    margin-left: -2.5rem;
  }

  .emphasis-card {
    border: none;
    margin-left: -2rem;
  }

  .emphasis-books h1 {
    font-size: 35px;
    text-align: start !important;
  }

  .emphasis-tag {
    display: none;
  }

  .autors {
    height: 405px;
    width: 810px;
    margin-left: -2.5rem;
  }

  .autors_img img {
    height: 200px;
    width: auto;
  }
}

@media (max-width: 596px) {
  .header {
    max-width: 535px;
  }

  .slider {
    display: none;
  }

  .container-search {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .title-session {
    text-align: center;
    font-size: 20px;
    margin-left: -2rem;
  }

  #button {
    text-align: start;
    margin: 0 0 0 2rem;
  }

  #input-search {
    width: 80%;
    margin-left: 2rem;
    max-width: 535px;
  }

  .emphasis-boxs {
    height: 405px;
    width: 505px;
    margin-left: -2.5rem;
  }

  .emphasis-card {
    border: none;
    margin-left: -2rem;
  }

  .emphasis-books h1 {
    font-size: 35px;
    text-align: start !important;
  }

  .emphasis-tag {
    display: none;
  }

  .autors {
    height: 405px;
    width: 600px;
    margin-left: -2.5rem;
  }

  .autors_img img {
    height: 200px;
    width: auto;
  }
}

@media (max-width: 422px) {
  .header {
    max-width: 385px;
  }

  .slider {
    display: none;
  }

  .container-search {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .title-session {
    text-align: center;
    font-size: 14px;
    margin-left: -2rem;
  }

  #button {
    text-align: start;
    margin: 0 0 0 2rem;
  }

  #input-search {
    width: 80%;
    margin-left: 2rem;
    max-width: 325px;
  }

  .emphasis-boxs {
    height: 405px;
    width: 360px;
    margin-left: -2.5rem;
  }

  .emphasis-card {
    border: none;
    margin-left: -2rem;
  }

  .emphasis-books h1 {
    font-size: 35px;
    text-align: start !important;
  }

  .emphasis-tag {
    display: none;
  }

  .autors {
    height: 405px;
    width: 450px;
    margin-left: -2.5rem;
  }

  .autors_img img {
    height: 200px;
    width: auto;
  }
}

@media (max-width: 376px) {
  .header {
    max-width: 325px;
  }

  .slider {
    display: none;
  }

  .container-search {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .title-session {
    text-align: start;
    font-size: 14px;
    margin-left: -2rem;
  }

  #button {
    text-align: start;
    margin-top: 0;
  }

  #input-search {
    width: 80%;
    margin-left: 1rem;
    max-width: 325px;
  }

  .emphasis-boxs {
    height: 405px;
    width: 19rem;
    margin-left: -2.5rem;
  }

  .emphasis-card {
    border: none;
    margin-left: -2rem;
  }

  .emphasis-books h1 {
    font-size: 35px;
    text-align: start !important;
  }

  .emphasis-tag {
    display: none;
  }

  .autors {
    height: 405px;
    width: 25rem;
    margin-left: -2.5rem;
  }

  .autors_img img {
    height: 200px;
    width: auto;
  }
}

@media (max-width: 321px) {
  .slider {
    display: none;
  }

  .container-search {
    display: flex;
    justify-self: center;
    flex-direction: column;
  }

  .title-session {
    font-size: 14px;
  }

  #button {
    text-align: start;
    margin-top: 0;
  }

  #input-search {
    width: 80%;
    margin-left: 2rem;
  }

  .emphasis-boxs {
    height: 405px;
    width: 19rem;
    margin-left: -2.5rem;
  }

  .emphasis-card {
    border: none;
    margin-left: -2rem;
  }

  .emphasis-books h1 {
    font-size: 35px;
  }

  .emphasis-tag {
    display: none;
  }

  .autors {
    height: 405px;
    width: 25rem;
    margin-left: -2.5rem;
  }

  .autors_img img {
    height: 200px;
    width: auto;
  }
}
