* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(139, 22, 22);
  color: #fff;
}

.header-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header-buttons li {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 5px 10px;
  background-color: #fff;
  color: rgb(139, 22, 22);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.header-buttons li:hover {
  color: #fff;
  background-color: rgb(139, 22, 22);
  border: 1px solid rgb(139, 22, 22);
}

#icon {
  width: 6rem;
  height: 4rem;
}

.main {
  position: relative;
  background-image: url(/imagens/BannerInicial.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center center;
}

.login-container {
  perspective: 1000px;
  width: 400px;
  height: 400px;
  position: relative;
  display: none;
}

.login,
.register {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(180, 76, 76);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  padding: 2rem;
  border-radius: 2rem;
}

.register {
  transform: rotateY(90deg);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(209, 111, 111);
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

button {
  background-color: rgb(139, 22, 22);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 0 1rem 0;
}

.text-login-box {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: rgb(139, 22, 22);
}

a:visited {
  text-decoration: none;
  color: #fff;
}

#btn-login {
  text-decoration: none;
  color: rgb(139, 22, 22);
}

#btn-login:visited {
  text-decoration: none;
  color: rgb(139, 22, 22);
}

.section-about {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  background-color: rgb(139, 22, 22);
  padding: 20px;
  transition: top 1s ease;
  z-index: 999;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Tela Inicial */

.slideshow-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  max-width: 80vw;
  margin: 0 auto;
}

.slide {
  display: none;
  text-align: center;
}

.text {
  display: flex;
  font-size: 2.3vw;
  font-size-adjust: 0vw;
  padding: 20px;
  color: white;
  position: relative;
}

.text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 80%);
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: blur(10px);
  border-radius: 40px;
}

.arrow-ditals {
  margin-top: 500px;
  position: absolute;
}

.first-central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  margin-bottom: 45vh;
}

.btn-begging {
  position: absolute;
  margin-top: 400px;
}

#btn-start-session {
  padding: 1rem 3rem 1rem 3rem;
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#btn-start-session:hover {
  transform: scale(1.1);
}

.fade {
  animation-name: fade;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* destaques */

.books-in-emphasis {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: rgb(139, 22, 22);
}

.books-in-emphasis h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box-in-emphasis {
  width: 90%;
  height: 550px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  overflow-x: scroll;
  padding-right: 20px;
}

.card-in-emphasis {
  width: 265px;
  height: 450px;
  text-align: center;
  padding: 5px;
  border: 1px solid #fff;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.card-in-emphasis:hover {
  box-shadow: 0 0 10px #fff;
}

.img-in-emphasis img {
  align-content: center;
  width: 250px;
  height: 365px;
}

.tag-in-emphasis h3 {
  margin: 2px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tag-in-emphasis p {
  margin: 2px 2px 0 0;
  color: #fff;
  background-color: #fff;
  padding: 0.5rem;
}

.tag-in-emphasis {
  color: #fff;
}

.tag-in-emphasis {
  color: #fff;
}

.tag-in-emphasis {
  color: #fff;
  font-weight: bold;
  padding-bottom: 29px;
}

.link-register-in-emphasis {
  color: rgb(139, 22, 22) !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 0 1rem 0;
}

.box-in-emphasis::-webkit-scrollbar {
  height: 8px;
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #d62929;
}

.divice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 3rem;
  height: 90vh;
  background: linear-gradient(to top, #fff, rgb(139, 22, 22));
}

.content-divices {
  text-align: center;
  max-width: 600px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#img-divice {
  max-width: 100%;
}

.warning {
  font-size: 12.5px;
  color: #000;
  text-shadow: none;
}

.area-plans {
  background: linear-gradient(to bottom, #fff, rgb(139, 22, 22));
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
  color: rgb(139, 22, 22);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.plans {
  background-color: rgb(180, 76, 76);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 10rem 0 10rem;
}

.plans-table {
  border-collapse: none;
  width: 100%;
}

.plans th {
  background-color: rgb(139, 22, 22);
  color: #fff;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2rem;
  color: #fff;
}

.visible {
  top: 0;
  animation-name: slideDown;
}

@keyframes slideDown {
  00% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.footer {
  background-color: rgb(139, 22, 22);
  color: white;
  text-align: center;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.behind {
  display: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons i {
  font-size: 24px;
  color: #fff;
}

@media (max-width: 769px) {
  .header {
    display: flex;
    align-items: center;
  }

  .header-buttons li,
  .table-title,
  .area-plans,
  .text-login-box {
    display: none;
  }

  #btn-start-session {
    font-size: 1rem;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    width: 18rem;
    height: auto;
    margin-left: 3.5rem;
  }

  .books-in-emphasis h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer {
    font-size: 0.6rem;
  }
}

@media (max-width: 426px) {
  .header {
    display: flex;
    align-items: center;
  }

  .header-buttons li,
  .table-title,
  .area-plans,
  .text-login-box {
    display: none;
  }

  #btn-start-session {
    font-size: 1rem;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    width: 18rem;
    height: auto;
    margin-left: 3.5rem;
  }

  .books-in-emphasis h1 {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .box-in-emphasis {
    margin-left: 0;
    width: auto;
    height: 17rem;
  }

  .img-in-emphasis {
  }

  .card-in-emphasis {
    border: none;
  }

  .card-in-emphasis:hover {
    display: none;
  }

  .box-in-emphasis img {
    height: 14rem;
    width: auto;
    margin-left: -4rem;
  }

  .tag-in-emphasis {
    display: none;
  }

  .footer {
    font-size: 0.6rem;
  }
}

@media (max-width: 376px) {
  .header {
    display: flex;
    align-items: center;
  }

  .header-buttons li,
  .table-title,
  .area-plans,
  .text-login-box {
    display: none;
  }

  #btn-start-session {
    font-size: 1rem;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    width: 18rem;
    height: auto;
    margin-left: 3.5rem;
  }

  .books-in-emphasis h1 {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .box-in-emphasis {
    margin-left: 0;
    width: auto;
    height: 17rem;
  }

  .img-in-emphasis {
  }

  .card-in-emphasis {
    border: none;
  }

  .card-in-emphasis:hover {
    display: none;
  }

  .box-in-emphasis img {
    height: 14rem;
    width: auto;
    margin-left: -4rem;
  }

  .tag-in-emphasis {
    display: none;
  }

  .footer {
    font-size: 0.6rem;
  }
}

@media (max-width: 321px) {
  .header {
    display: flex;
    align-items: center;
  }

  .header-buttons li,
  .table-title,
  .area-plans,
  .text-login-box {
    display: none;
  }

  #btn-start-session {
    font-size: 1rem;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    width: 18rem;
    height: auto;
    margin-left: 3.5rem;
  }

  .books-in-emphasis h1 {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .box-in-emphasis {
    margin-left: 0;
    width: auto;
    height: 16rem;
  }

  .img-in-emphasis {
  }

  .card-in-emphasis {
    border: none;
  }

  .card-in-emphasis:hover {
    display: none;
  }

  .box-in-emphasis img {
    height: 13rem;
    width: auto;
    margin-left: -4rem;
  }

  .tag-in-emphasis {
    display: none;
  }

  .footer {
    font-size: 0.6rem;
  }
}
